.a_typography {
  // Material-UIのvariantのスタイルは以下で定義している
  // src/styles/theme/index.js
  // それ以外のスタイルをここに書いている
  &.small1 {
    font-size: 10px;
    line-height: 1.2;
  }

  &.small2 {
    font-size: 11px;
    line-height: 1.2;
  }

  &.button1 {
    font-size: 16px;
    line-height: 1.3;
  }

  &.button2 {
    font-size: 13px;
    line-height: 1.3;
  }

  &.button3 {
    font-size: 11px;
    line-height: 1.2;
  }

  &.caption1 {
    font-size: 12px;
    line-height: 1.3;
  }

  &.caption2 {
    font-size: 11px;
    line-height: 1.2;
  }

  &.caption3 {
    font-size: 8px;
    line-height: 1.2;
  }

  &.body1-2 {
    font-size: 14px;
    line-height: 1.4;
  }

  &.color-green {
    color: colors(textGreen)
  }

  &.color-error {
    color: colors(textError);
  }

  &.color-blue {
    color: colors(textBlue);
  }

  &.color-light-gray {
    color: colors(textLightGray);
  }

  &.color-gray {
    color: colors(textGray);
  }

  &.color-deep-gray {
    color: colors(textDeepGray);
  }

  &.color-black {
    color: colors(textBlack);
  }

  &.color-white {
    color: colors(textWhite);
  }

  &.color-red {
    color: colors(textRed);
  }

  &.color-inherit {
    color: inherit;
  }

  &.bold {
    font-weight: 700;
  }

  &.cursor-pointer {
    cursor: pointer;
  }
}
